.Header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px;
}

.Header span {
    font-size: 2.5rem;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    color: rgb(231, 221, 240);
}