@media screen and (max-width : 420px) {
    .Container {
        padding: 50px 20px !important;
    }
}

.Container {
    height: 100%;
    padding: 50px 100px;
    box-sizing: border-box;
    text-align: center;
}