* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgb(250 235 206), rgb(252, 227, 176));
}

#root {
    height: 100%;
}